.header__logo{
    max-width: 104px;
    width: 100%;
    max-height: 24px;
    margin-left: 27px;
    padding-bottom: 31.6px;
    margin-top: 0;
}

@media screen and (min-width:768px){
    .header__logo{
        max-width: 142px;
        max-height: 33px;;
    }
}