.profile__subtitle{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    color: #FFFFFF;
}

@media screen and (min-width:768px){
    .profile__subtitle{
        font-size: 18px;
    }
}