.profile__add-button {
  width: 100%;
  max-width: 282px;
  min-height: 50px;
  margin: 36px auto;
  background-color: #000;
  border: 1px solid #fff;
  opacity: 1;
}

.profile__add-button:hover{
  opacity: 0.6;
}

@media screen and (min-width:768px){
  .profile__add-button{
    margin: 0;
    margin-left: auto;
    width: 150px;
  }
}